.card{
    border-radius: 1rem;
    /* position: relative; */
}

.card-inner{
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    margin:10px;
    position: relative;
}

.card *{
    pointer-events: none;
}

.show-back{
    transform: rotateY(180deg);
}

/* .card-side{

} */

.card-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-front{
    font-size: 10vh;
    transition: color .5s ease-in;
}

.card:hover .card-front{
    color: cyan;
}

.card .card-back{
    /* opacity: 0; */
    transform: rotateY(-180deg) translateZ(8px) ;

}

/* .card.show-back .card-back{
    opacity: 1;
}

.card.show-back .card-front{
    opacity: 0;
} */
