/* this file holds general style information related to the cards, layout is still contained in index.css */

.card{
    border-radius: 1rem;
    /* position: relative; */
}

.card-inner{
    transform-style: preserve-3d;
    margin:10px;
    position: relative;
}

.card-transform{
    transition: transform 1s ease-in-out;
}

.card *{
    pointer-events: none;
}

.show-back{
    transform: rotateY(180deg);
}

.card-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-front{
    transition: color .5s ease-in;
}

.card:hover .card-front{
    color: cyan;
}

.card .card-back{
    /* opacity: 0; */
    transform: rotateY(-180deg) translateZ(8px) ;

}