@font-face{
    font-family: hightech;
    src: url('../resources/Delogs\ Goes\ Hi-Tech.otf');
}

*{
    font-family: hightech;
    margin: 0;
    padding: 0;
}

.test-border{
    border: 1px solid red;
}

.b-out{
    border: 3px outset lightgray;
}

.b-in{
    border:3px inset lightgray;
}

.b-gr{
    border-bottom: 3px groove darkgray;
}

.b-bot{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.br-5{
    border-radius: 5px;
}

.button{
    cursor: pointer;
    text-align: center;
    transition: color .5s ease-in-out;
}

.button:hover{
    color: cyan;
}

.flex-r{
    display: flex;
    align-items: center;
}

.flex-c{
    display: flex;
    flex-direction: column;
}

.flex-r-cntr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c-cntr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-fill{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.col-left{
    align-items: flex-start;
}

.col-right{
    align-items: flex-end;   
}

.col-cntr{
    align-items: center;
}

.row-right{
    justify-content: flex-end;
}

.grow-0{
    flex-grow: 0;
}

.grow-1{
    flex-grow: 1;
}

.force-monospace{
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.hide{
    display: none;
}

.ignore-click{
    pointer-events: none;
}

.line-border{
    border:1px solid black;
}

.pd-1{
    padding:.5rem;
}

.pd-2{
    padding: 1rem;
}

.pd-t-0{
    padding-top: 0;
}

.mg-1{
    margin:.5rem;
}

.mg-side-8{
    margin: 0 4rem;
}

.match-parent{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.relative{
    position: relative;
}

.stretch{
    align-self: stretch;
}

.txt-cntr{
    text-align: center;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body, html, body *{
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    overflow: hidden;
}

h1{
    text-align: center;
    letter-spacing: 4px;
    font-size: 3rem;
   padding: .5rem 0 .5rem 0;

}

nav{
    position: absolute;
    top:0;
    right:0;
    justify-content: flex-end;
}

nav a{
    padding: .5rem;
    text-decoration: none;
    color: black;
    transition: color .5s ease-in;
}

nav a:hover{
    color: cyan;
}

.control-panel{
    margin-bottom: .5rem;
}

.control-panel > div{
    flex-basis: 0;
}

.material-icons.refresh-icon, .material-icons.connect-icon{
    font-size: 48px;
    width: 64px;
    height: 64px;
    line-height: 64px;
}

.timer{
    min-width: 11em;
}

.game-board{
    perspective: 1500px;
}

.gb-4x4{
    display: grid;
    grid-template-columns: repeat(4, 20vh);
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}

.gb-4x4 .card{
    font-size: 10vh;
}

.gb-6x6{
    display: grid;
    grid-template-columns: repeat(6, 13.33vh);
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}

.gb-6x6 .card{
    font-size: 7vh;
}

.card{
    margin: .5rem;
}


.overlay{  
    position: absolute;
    transition: all .75s ease-in-out;
    width: 100%;
    top: 0;
    transform: translateY(0%);
    height: 4vh;
}

.overlay-collapse{
    background: none;
}

.overlay-expand{
    transform: translateY(-100%);
    background: rgba(225, 225, 225, .9);
    height: 100vh;
}

.overlay-expand #leaderboard{
    margin-top: 1rem;
}

#leaderboard{
    transition: all .75s ease-in-out;
    margin-top: 5rem;
}

header{
    height: 7vh;
}

.control-panel{
    height: 7vh;
}

.game-board{
    height:78vh;
}

.score-tray{
    height: 4vh;
}